# Add any directories, files, or patterns you don't want to be tracked by version control
**.pyc
# ignore all pyc files

# ignore all .ipynb_checkpoint files
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
